@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    box-shadow: 0px 2px 10px 0px #00000040;
  }
  
  .lista-navegacao {
    display: flex;
    flex-direction: row;
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    list-style: none;
  }
  
  .lista-navegacao a {
    padding: 20px;
    text-decoration: none;  
    color: #777777;
    text-transform: uppercase;
  }

.banner{
  width: 100%;
}
.section-principal{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center
}

.section-principal h1{
 font-size: 60px;
 font-weight: 800;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-family: "Open sans";
 text-align: center;
 padding: 80px 0px;
}

.section-principal div{
  display: flex;
  align-items: center;
  gap: 50px;
}

.section-off{
  background-color: #C2185B;
  margin-top: 200px;
  padding-bottom: 100px;
}

.section-off h2{
  color: #fff;
  font-size: 44px;
  font-weight: 800;
  font-family: "Open sans";
  text-align: center;
  padding: 60px 0px;
}

.section-off-cards{
  display: flex;
  justify-content: space-evenly;
  
}

.card{
  display: flex;
  flex-direction: column;
}

.card div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 88px;
  background-color: #fff;
}

.card span{
  font-size: 17px;
  font-family: "Open sans";
  padding: 0 10px;
}

.span-title{
  font-weight: 600;
  font-size: 16px;
}

.section-sandalia{
  margin-top: 150px;
}

.section-sandalia-title{
  display: flex;
  flex-direction: column;
  
}

.section-sandalia-photo{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

.section-sandalia span{
  font-family: "Open sans";
  font-size: 39px;
  font-weight: 600;
}

.section-sandalia button{
  border: none;
  color: #fff;
  font-family: "Open sans";
  font-size: 39px;
  background-color: #C2185B;
  width: 400px;
  height: 100px;
  margin-bottom: 50px;
  margin-top: 20px;
}

footer{
  margin-top: 120px;
  background-color: #C2185B;
  height: 248px;
  color: #fff;
  font-family: "Open sans";
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer div:first-child{
 width: 255px;
}

footer div li{
  list-style-type: none;
}

footer div span{
  font-weight: 800;
}

footer div p{
  font-size: 14px;
  line-height: 19px;
}